# Known Good Versions Set
# =======================

[buildout]
extensions =
    mr.developer
    buildout.dumppickedversions

# Dump the last successful "known good" versions to a file so that we can pin
# those for example in production.cfg

dump-picked-versions-file = versions/known-good-versions.cfg

# Extend a versions configuration to get the right version of Plone.
# The files can be downloaded from http://dist.plone.org/release/<version>/versions.cfg

extends =
    http://dist.plone.org/release/4.1.2/versions.cfg
    http://good-py.appspot.com/release/dexterity/1.0.3-1
    http://good-py.appspot.com/release/plone.app.theming/1.0b8
    http://good-py.appspot.com/release/plone.app.z3cform/0.5.6
    http://good-py.appspot.com/release/plone.app.cmsui/1.0a1
    versions.cfg

find-links =
    http://dist.vorwaerts-werbung.de/public

versions = versions
unzip = true

[eggs]
main =
    amap.sitetheme

addon =
    plone.app.caching
    plone.app.cmsui

test =
    example.sitetheme [test]
devtools =
    bpython
    plone.reload
    Products.PDBDebugMode
    Products.PrintingMailHost
    Products.DocFinderTab
    Products.Maps

# mr.developer - sources available for auto-checkout.
# Run ./bin/develop help for more information.

[sources]
amap.sitetheme            = fs amap.sitetheme


